*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
  text-align: center;
  margin: 30px 0px;
}
.class1{
   text-align: center;
   animation: class 4s infinite 2s;
}
@keyframes class {
  from{
    color: red;
  }
  to{
    color:blue;
  }
}
